
.masonryitem {
}

.eventgridimage {
//  width:100%;
//  height:100%;
}

.largeeventimage {

}
.smalleventimage {

}

.voodooeventcontainer {
  background-color: lightgray;
//  .span3;
  margin: 10px;
  float: left;
}

.contentitemcontainer {
  background-color: lightgray;
  width: 350px;
  height: 350px;
  margin: 10px;
  float: left;
}

body {
   background-image: url("/bgtiles/tile666.gif");
   background-repeat: repeat;
}

.churchcontainer {
  margin-top: 50px;
}

.question-heading {
  background-color: white
}

.churchcontent {
  background-color: rgba(255,255,255,0.6);
  padding:20px;
}

.panel {
  background-color: transparent;
}

.panel-heading {
  background-color: rgba(255,255,255,0.6);
}

.panel-title {
  font-size: 30px;
}

.questionno {
  float: right;
  width: 30%;
}


.progress {
  position: relative;
}

.bar {
  z-index: 1;
  position: absolute;
}

.progress span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: black;
  text-align: center;
  width: 100%;
}