<template name="sortfilteritem">
    <li class="{{activeContentFilter}}"><a href="#" class="content_filter" style="font-size:130%" id="content_filter_{{name}}"><span class="{{icon}} toplevelfiltericon"></span><span class="title {{titleclass}}">{{title}}</span></a></li>
</template>

<template name="filteritem">
    <li class="">
        <a href="#" class="content_filter" style="font-size:130%" id="content_filter_{{name}}">
            <span class="{{icon}} toplevelfiltericon"></span>
            <span class="title {{titleclass}}">{{tsitle}}</span>
        </a>

    {{#if ssubFilters}}
        <ul class="subfilter">
    {{#each subFilters}}
      {{>filteritem}}
    {{/each}}
        </ul>

    {{/if}}
    </li>
    {{#if ssortFilters}}
    <ul class="navbar-nav nav nav-pills nav-stacked">
        {{#each sortFilters}}
        {{>sortfilteritem}}
        {{/each}}
    </ul>
    {{/if}}

</template>

<template name="filterbar">
    <nav class="" role="navigation" >
        <ul class="">
            {{#each filters}}
                {{>filteritem}}
            {{/each}}
        </ul>
   </nav>
</template>


<template name="navitem">
    <div class="masonrynavbutton {{#if subFilters}} hasSubFilters {{/if}}">
        <button type="button" class="toplevelbutton content_filter btn btn-primary btn-lg {{#if isSelected}} active {{/if}}" {{conditionalAttr 'disabled' disabled}} >
            <span class="{{icon}} toplevelfiltericon"></span><br>
            <span class="topleveltitle">{{title}}</span>
        </button>
        {{#if isSelected}}
        {{#if subFilters}}
        <div style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;">
        {{#each subFilters}}
        <button type="button" class="sublevelbutton content_filter btn btn-info btn-lg" >
            <span class="{{icon}} sublevelfiltericon"></span>
        </button>
        {{/each}}
        </div>
        {{/if}}
        {{/if}}
    </div>
</template>

<template name="navboxestomasonry">
  {{#each navBoxes}}
  {{#masonryElement "ContentGrid"}}
    {{> navitem}}
  {{/masonryElement}}
  {{/each}}
</template>