<template name="sortfilteritem">
    <li class="{{activeContentFilter}}"><a href="#" class="content_filter" style="font-size:130%" id="content_filter_{{name}}"><span class="{{icon}} toplevelfiltericon"></span><span class="title {{titleclass}}">{{title}}</span></a></li>
</template>

<template name="filteritem">
    <li class="">
        <a href="#" class="content_filter" style="font-size:130%" id="content_filter_{{name}}">
            <span class="{{icon}} toplevelfiltericon"></span>
            <span class="title {{titleclass}}">{{tsitle}}</span>
        </a>

    {{#if ssubFilters}}
        <ul class="subfilter">
    {{#each subFilters}}
      {{>filteritem}}
    {{/each}}
        </ul>

    {{/if}}
    </li>
    {{#if ssortFilters}}
    <ul class="navbar-nav nav nav-pills nav-stacked">
        {{#each sortFilters}}
        {{>sortfilteritem}}
        {{/each}}
    </ul>
    {{/if}}

</template>

<template name="filterbar">
    <nav class="" role="navigation" >
        <ul class="">
            {{#each filters}}
                {{>filteritem}}
            {{/each}}
        </ul>
   </nav>
</template>


<template name="navmasonryitem">
    <div class='masonrybuttoncontainer ' id='navbutton_{{filter.name}}' >
    <div class="masonrynavbutton {{#if isSelected}} selected {{/if}}   {{#if subFilters}} hasSubFilters {{/if}}">
        <button type="button" class="toplevelbutton content_filter btn btn-primary btn-lg {{#if isSelected}} active {{/if}}">
            <span class="{{icon}} toplevelfiltericon"></span><br>
            <span class="topleveltitle">{{title}}</span>
        </button>
        {{#if isSelected}}
        {{#if subFilters}}
        <div style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;">
        {{#each subFilters}}
        <button type="button" class="sublevelbutton content_filter btn btn-info btn-lg" >
            <span class="{{icon}} sublevelfiltericon"></span>
        </button>
        {{/each}}
        </div>
        {{/if}}
        {{/if}}
    </div>
    </div>
</template>

<template name="userbar">
    {{#each sortTypes}}
    <li class="{{activeSortFilter}}"><a href="#" class="sort_filter dropdown-toggle" style="font-size:130%" data-toggle="dropdown" id="sort_filter_{{name}}"><span class="{{icon}}"></span> {{title}}</a></li>
    {{/each}}

    <nav class="navbar-invere" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <!--<li>
                <input type="text" class="form-control search" placeholder="Search">
            </li> -->
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    {{#if user}}
                    <img alt="" src="{{profileimg}}" width="20" height="20">
                    <span>{{userfirstname}}</span>
                    {{else}}
                    <span>login</span>
                    {{/if}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>

    </nav>
</template>

<template name="navboxestomasonry">
  {{#each navBoxes}}
  {{#masonryElement "ContentGrid"}}
    {{> navmasonryitem}}
  {{/masonryElement}}
  {{/each}}
</template>