

<template name="embeddedmedia">
    {{{content}}}
</template>

<template name="contentitemgridsizer">
    <div class="contentitemgridsizer content_type_{{type}}_default_size {{#if isExpanded}} contentitemexpanded {{/if}}"
         style="width: {{width showDetail}}px; {{#unless isExpanded}}height: {{height showDetail}}px; {{/unless}}">
        {{>contentitem}}
    </div>
</template>


<template name="contentgrid">
    <div id="contentgridcontainer">
    </div>
    {{#if moreResults}}
    <div id="showMoreResults" style="margin-left: 25px;">
        <span class="loading"> </span>
    </div>
    {{/if}}
</template>