<template name="contentthumb">

    <div id="mediathumb_{{_id}}" class="mediathumb">
      <a href="/contentDetail/{{slug}}">
      <img src="{{thumbnailurl}}">
      </a>
    </div>

</template>




<template name="contentitem">
    <div id="{{_id}}" class="contentitemcontainer content_type_{{type}} ">
        <!--<span class="contenttypelabel {{contentTypeMetaData.icon}} {{contentTypeMetaData.class}} {{bgcol}}" style="position: absolute; right: -2px; top: -2px;"> </span>
     -->
        {{#if showThumb}}
            {{>contentthumb}}
        {{/if}}
      <div class="contentitemfooter {{bgcol}}">
        {{#if title}}
        {{#if contentTypeMetaData.showtitle}}

            <h4>{{cropstring title 25 '...'}}
              <small style="color: white"><em>
              {{cropstring location 20 '...'}}</em>
            </small></h4>
        {{/if}}
        {{/if}}
         {{> typespecificcontent }}
      </div>
          {{#if showMedia}}
          <div id="mediacontent_{{_id}}" >
              {{>embeddedmedia}}
          </div>
          {{/if}}
          {{> typespecificcontent}}
    </div>
</template>

<template name="contentitem_video">
    <div class="mediaplaybutton">
        <button type="button" class="btn btn-default btn-lg"><span style="color: {{bgcol}}" class="glyphicon glyphicon-expand" > </span></button>
    </div>

</template>

<template name="contentitem_event">
    <div class="date {{bgcol}}">
        {{day}}
    </div>
    {{#if rsvp_confirmed}}
        <div class="event_confirmed_indicator {{bgcol}}"><span class="glyphicon glyphicon-ok"></span></div>
    {{/if}}
</template>

<template name="contentitem_photo">
    foto
</template>

<template name="contentitem_link">
    link
</template>