<template name="contentthumb">

    <div id="mediathumb_{{contentItem._id}}" class="mediathumb">
      <a href="{{detailPath}}">
      <img src="{{thumbnailurl}}">
      </a>
    </div>

</template>




<template name="contentitem">
    <div id="{{_id}}" class="contentitemcontainer content_type_{{type}} ">

      <!--  <span class="contenttypelabel {{metaData.icon}} {{metaData.class}} {{bgcol}}" style="position: absolute; right: -2px; top: -2px;"> </span>
-->
        {{#if showThumb}}
            {{>contentthumb contentItem=this}}
        {{/if}}
      {{#if metaData.showtitle}}
      <div class="contentitemfooter {{bgcol}}">
        {{#if title}}
            <h4>{{cropstring title 25 '...'}}
              <small style="color: white"><em>
              {{cropstring location 20 '...'}}</em>
            </small></h4>
        {{/if}}
      </div>
      {{/if}}
          {{#if showMedia}}
          <div id="mediacontent_{{_id}}" >
              {{> embeddedmedia}}
          </div>
          {{/if}}
      {{> typespecificcontent}}
    </div>
</template>

<template name="contentitem_video">
  {{#unless showMedia}}
  <div class="mediaplaybuttoncontainer">
    <div class="mediaplaybutton">
        <button type="button" class="btn btn-default btn-lg"><span style="color: {{bgcol}}" class="glyphicon glyphicon-expand" > </span></button>
    </div>
  </div>
  {{/unless}}
</template>

<template name="contentitem_event">
    <div class="date {{bgcol}}">
        {{day}}
    </div>
    {{#if rsvp_confirmed}}
        <div class="event_confirmed_indicator {{bgcol}}"><span class="glyphicon glyphicon-ok"></span></div>
    {{/if}}
</template>

<template name="contentitem_photo">
</template>

<template name="contentitem_link">
</template>


<template name="embeddedmedia">
  {{{content}}}
</template>
