<template name="contentthumb">
    {{#if showThumb}}
    <div id="mediathumb_{{_id}}" class="mediathumb">
        <img src="{{thumbnailurl}}">
        <div class="blackgradient"></div>
    </div>
    {{/if}}
</template>




<template name="contentitem">
    <div id="{{_id}}" class="contentitemcontainer content_type_{{type}} {{#if isExpanded}} contentitemexpanded {{/if}} {{#if showDetail}} contentitemdetail  {{/if}} "
         style="border-color: {{bgcol}}; width: {{width showDetail}}px; height: {{height showDetail}}px;">
        <span class="contenttypelabel {{contentTypeMetaData.icon}} {{contentTypeMetaData.class}}" style="background-color: {{bgcol}}; position: absolute; right: -2px; top: -2px;"> </span>
     {{#unless isExpanded}}
      <div class="front">
        {{>contentthumb}}
        {{#if title}}
        {{#if contentTypeMetaData.showtitle}}
        <div class="title">
            <span>{{titleellipsis}}</span>
        </div>
        {{/if}}
        {{/if}}
        <div class="metadata">
            <span class="glyphicon glyphicon-heart"></span><sup>{{numlikes}}</sup>
           <!-- <span class="postdate" data-date="{{postedDate}}"><span class="glyphicon glyphicon-calendar"></span> {{postedDate}}</span>
            -->
        </div>
         {{{typespecificcontent}}}
      </div>
     {{else}}
      <div class="back">

          {{#unless showMedia}}
          {{>contentthumb}}
          {{else}}
          <div id="mediacontent_{{_id}}" >
              {{>embeddedmedia}}
          </div>
          {{/unless}}
          {{{typespecificcontent}}}
      </div>
     {{/unless}}
    </div>
</template>

<template name="contentitem_video">
    <div class="mediaplaybutton">
        <button type="button" class="btn btn-default btn-lg"><span style="color: {{bgcol}}" class="glyphicon glyphicon-expand" > </span></button>
    </div>

</template>

<template name="contentitem_event">
    {{#unless isExpanded}}
    <div class="date" style="border-color: {{bgcol}}; background-color: {{bgcol}}">
        {{day}}
    </div>
    {{else}}
      <div class="info">
        <h4>{{title}}</h4>

            <p class="text-muted">
           <span class="glyphicon glyphicon-user text-info"></span>
           {{num_attending}} ({{num_app_users_attending}}) &nbsp;
          <span class="glyphicon glyphicon-calendar text-info"></span>
          {{day}}  <br>
            <span class="glyphicon glyphicon-map-marker text-info"></span>
            {{location}} <br>
           </p>
    <div class="btn-group btn-group-xs">
        <button type="button" data-toggle="dropdown" class="rsvpbutton btn btn-primary dropdown-toggle"><span class="glyphicon {{#if rsvp_confirmed}}glyphicon-ok{{else}}glyphicon-question-sign{{/if}}"></span> {{#if rsvp_confirmed}}Attending{{else}}RSVP{{/if}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a class="rsvp_attend" href="#"><span class="glyphicon glyphicon-ok"></span> Attending</a></li>
            <li><a class="rsvp_decline" href="#"><span class="glyphicon glyphicon-question-sign"></span> Undecided</a></li>
        </ul>
    </div>
    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-bullhorn"></span> Invite</button>
    </div>

    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-share"></span> Share</button>
    </div>
    <div class="btn-group btn-group-xs">
        <a href="{{pathFor 'contentdetail'}}" class="btn btn-info"><span class="glyphicon glyphicon-share"></span> Details</a>
    </div>
    <p>
        <small>
            {{#markdown}}
         {{description}}
            {{/markdown}}
        </small>
    </p>
    </div>
    {{/unless}}
    {{#if rsvp_confirmed}}
        <div class="event_confirmed_indicator" style="border-color: {{bgcol}}; background-color: {{bgcol}}"><span class="glyphicon glyphicon-ok"></span></div>
    {{/if}}
</template>

<template name="contentitem_photo">
    foto
</template>

<template name="contentitem_link">
    link
</template>