<template name="contentdetailcaption">
    {{#with contentItem}}
    <div class="jumbotron smalljumbo">


        <h1>{{title}}  <small>{{> eventlocation}}, <strong>{{fullDay}} {{time}}</strong></small></h1>
        <div class="eventtoolbar detach-on-scroll">
            <div class="detach-content {{responsiveButtons}}">
              {{> backbutton }}
              {{> eventtoolbar }}
            </div>
          {{#if hasList}}
          <br><br>
          <div class="row">
          <div class="col-lg-8">
{{> listhelper}}
          </div>
          </div>
          {{/if}}
        </div>
      {{#if embedMedia}}
      {{{embedMedia}}}
      {{/if}}
    </div>
    {{/with}}
</template>

<template name="backbutton">
  <a href="{{backRoute}}" class="btn btn-info btn-responsive">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
  </a>
</template>

<template name="contentdetail">
    {{#with contentItem}}
    <div class="contentdetail">

    <img class="contentDetailFlyer" src="{{getPicture}}" align="right">
    <div>{{> event_genderratio}}</div>
    <div>{{> event_voodooratio}}</div>
    <div>{{> event_friends}}</div>

    <div class="eventDescription" id="description_{{_id}}">{{{ markdownDescription }}}</div>


    <div class="panel panel-default">
        <div class="panel-heading">Media</div>
        <div class="panel-content clearfix" >
          {{#each descriptionLinks}}
          {{>eventmedia embedly url=this maxwidth=200 maxheight=200 }}
          {{/each}}
        </div>
    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <div class="panel-content clearfix">
        {{> comments voodoocomments }}
      </div>
    </div>
    {{/with}}
</template>

