<template name="contentitem">
    <div id="{{_id}}" class="contentitemcontainer masonryitem content_type_{{type}}">
        {{#isolate}}
        <div  style="background-color: {{randcol}}" id="border{{_id}}" class="contentitemborder">

            {{#if title}}
            <span style="float:right" class="{{contentTypeMetaData.icon}} {{contentTypeMetaData.class}}"> {{type}}</span>
            <div class="mediatitle">
                {{title}}
            </div>
            {{/if}}
            {{#if showThumb}}
            <div id="mediathumb_{{_id}}" class="mediathumb">
                <img src="{{thumbnailurl}}">
            </div>
            {{/if}}
            {{#if showMedia}}
            <div id="mediacontent_{{_id}}">
                {{{embedcontent}}}
            </div>
            {{/if}}
            <div class="contentmetadata">
                <i class="icon-heart"></i> <span class="badge">{{numlikes}} </span>
                <span class="postdate" data-date="{{postedDate}}"><span class="glyphicon glyphicon-calendar"></span> {{postedDate}}</span>
            </div>

        </div>
        {{/isolate}}
    </div>
</template>

<template name="contentgrid">

    {{#isolate}}
    <nav class="navbar navbar-fixed-top " role="navigation">
        <ul class="nav nav-pills nav-justified">
            {{#each contentTypes}}
            <li {{#if activeContentFilter}}class="active"{{/if}}><a href="#" class="content_filter dropdown-toggle" style="font-size:130%" data-toggle="dropdown" id="content_filter_{{name}}"><span class="{{icon}}"></span> {{title}} <span class="caret"></span></a></li>
            {{/each}}

            {{#each sortTypes}}
            <li {{#if activeSortFilter}}class="active"{{/if}}><a href="#" class="sort_filter dropdown-toggle" style="font-size:130%" data-toggle="dropdown" id="sort_filter_{{name}}"><span class="{{icon}}"></span> {{title}}</a></li>
            {{/each}}

        </ul>
    </nav>
    {{/isolate}}
    <br><br><br>
    <div id="contentgridcontainer">
    <!--    <div id="fblikebox" class="masonryitem" style="width:260px; height:160px;">
            <div class="fb-like-box" data-href="https://www.facebook.com/voodoohop" data-width="260" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true">

            </div>
         </div>    -->
        {{#if voodoocontent}}
    {{#each voodoocontent}}
        {{>contentitem}}
    {{/each}}

    {{else}}
        loading content...
    {{/if}}
    </div>
</template>