<template name="eventgrid">
    <h1>Events</h1>
    <div id="eventgridcontainer" data-masonry-options='{"itemSelector": ".masonryitem", "columnWidth": "200px" }'>
    {{#if voodooevents}}
    {{#each voodooevents}}
        <div id="{{_id}}" class="voodooeventcontainer masonryitem {{#if isLargeImage}} largeeventimage {{else}} smalleventimage {{/if}}">
            <img class="eventgridimage" src="http://voodoohop.com{{this.imgsrc}}">
        </div>
    {{/each}}
    {{else}}
        loading events...
    {{/if}}
    </div>
</template>