<template name="fbeventinvite">
    {{#unless doneInviting}}

        <div class="fs-invite-button-div {{inviting}} {{inline}} btn-group">
                <a href="/contentDetail/{{event._id}}/inviteFriends" id="invitebutton_{{event._id}}" class="invitebutton btn btn-success btn-lg ladda-button" data-style="expand-left">
                    <span class="ladda-label">
                    {{#if loadingFriends}}
                        loading Friends
                    {{else}}
                    {{#if inviting}}
                        Inviting
                    {{else}}
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        Invite
                    {{/if}}
                    {{/if}}
                    </span>
                </a>
                {{#if minimized}}
                    <button type="button" class="btn btn-success dropdown-toggle btn-lg" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Invite Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="inviteall"><span class="glyphicon glyphicon-globe"></span> All</a></li>
                        <li><a href="/contentDetail/{{event._id}}/inviteFriends"><span class="glyphicon glyphicon-hand-right"></span> Select</a></li>
                    </ul>
                {{else}}
                <button type="button" class="btn btn-danger btn-lg">&times; Close</button>
                {{/if}}
         </div>

    {{#unless minimized}}
    {{#unless inviting}}


    <div id="fs-filters-buttons">
        Select: <div class="btn-group" data-toggle="buttons" style="display: inline-block">
        <button id="selectall" class="btn btn-info">All</button>
        <button id="selectnone" class="btn btn-danger">None</button>
    </div>
    </div>

            <div id="fs-filter-box">
                <div class="form-search search-only">
                    <input  id="fs-search-text" type="text" class="form-control search-query">
                </div>
            </div>

    {{#if friends}}
    <div id="fs-user-list" class="panel panel-default">
        <div class="panel-heading">Friends</div>
            <div class="panel-content clearfix">
                {{#each friends}}

                {{> fbeventinvite_user}}

                {{/each}}
           </div>
    </div>
                {{/if}}

    {{/unless}}
    {{/unless}}


    {{/unless}}
</template>

<template name="fbeventinvite_user">
    <div class="fs-userlistitem {{checked}} clearfix"  >
    <div class="fs-anchor {{inviting}}">
        <img class="fs-thumb" src="https://graph.facebook.com/{{id}}/picture" />
        <span class="fs-name">{{cropstring username 13}}</span>
    </div>
    </div>
</template>