<template name="fbfriendselectdialog">
<div id="fs-dialog-box-content">
    <div id="fs-dialog" class="fs-color-default">
        <h2 id="fs-dialog-title"><span>Friend Selector</span></h2>
        <div id="fs-filter-box">
            <div id="fs-input-wrap"><input type="text" id="fs-input-text" title="Enter a friend's name"><a href="javascript:{}" id="fs-reset">Reset</a></div>
        </div>
        <div id="fs-user-list">
            <ul></ul>
        </div>
        <div id="fs-filters-buttons">
            <div id="fs-filters"><a href="javascript:{}" id="fs-show-selected"><span>Show Selected</span></a></div>
            <div id="fs-dialog-buttons"><a href="javascript:{}" id="fs-submit-button" class="fs-button"><span>Send</span></a><a href="javascript:{}" id="fs-cancel-button" class="fs-button"><span>Cancel</span></a></div>
        </div>
    </div>
</div>
</template>