<head>
    <script src="/js/jquery.countdown.js" type="text/javascript"></script>
    <script src="/js/jquery.countdown-pt-BR.js" type="text/javascript"></script>
    <meta property="og:title" content="VOODOOHOP 1º Sacramento: A Purificação das Alma  s"/>
    <meta property="og:image" content="http://voodoohop.com/dynamicflyer.php?eventid=666&r=746"/>
    <meta property="og:description" content="Bela Vista, Sao Paulo - Sábado 10/08 - 23h" />
    <title>VOODOOHOP 1º Sacramento: A Purificação das Almas</title>
</head>