<template name="mainlayout">
    <div class="detach-on-scroll-deactivated detacheableuserstatus">
        <div class="detach-content detached">
        {{> userLoginStatus}}
            <div>
        {{> bootstrapAlerts}}
            </div>
        </div>
    </div>
    <div class="container">
    {{> yield}}
    </div>
</template>

<template name="loadingScreen">
    <H1>loading...</H1>
</template>


<template name="mootForum">
    <div class="moot"
       href="{{currentURL}}"
       data-pageTitle="VOODOOHOP"
       data-show_title="true"
       data-show_online="true">
        Comments for this blog entry
    </div>
</template>