<template name="mainlayout">
 <!-- <div style="float: right;">
  </div>

  -->
    <div class="detach-on-scroll-deactivated detacheableuserstatus">
      {{>connectionBanner}}


      <div class="detach-content detached">
            <div>
        {{> bootstrapAlerts}}
            </div>
        </div>
    </div>
    <div class="container">

    <div>
    {{> yield region='contentheader'}}
    </div>
    {{> yield}}


  </div>
</template>

<template name="loadingScreen">
    <H1>loading...</H1>
</template>
