<template name="maintemplate">
  <div class="container" style="height:100%">
        <div class="row">
        <div class="col-5"></div>
        <div class="col-2 text-center" style="border-radius: 5px; display: inline; background-color:rgba(255,255,255,0.8);">{{loginButtons}}</span>
        </div>
        <div class="col-5"></div>
        </div>
    {{>MouseCursorer}}

    {{#if user}}

    {{renderPage}}

    {{else}}

      <br> <br><br>
      <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-6 alert text-center" style="font-size:140%">
             <span style="font-size: 140%"><i class="glyphicon glyphicon-arrow-up"></i>Faça login para selecionar o seu pecado e virtude<i class="glyphicon glyphicon-arrow-up"></i></span><br>
              Procure uma pessoa com a virtude oposta ao seu pecado na <a href="http://voodoohop.com/event.php?eventid=666">festa</a> e ganhe uma dose purificadora

          </div>
          <div class="col-lg-3">

          </div>

      </div>
    {{/if}}

      <br> <br><br>
      <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-6">
              <div class="panel">
                  <div class="panel-heading">Endereço e Detalhes:</div>
                  <div class="thumbnail">
                      <a href="http://goo.gl/maps/eSSkE" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>
                      <div class="caption">
                          <address>
                              A VOODOOHOP vai ocupar o Gloria, uma antiga igreja, transformando-a de volta num lugar de oração e purificação.
                              <br><br>
                              <i><strong>Bar com preços acessíveis</strong></i>
                              <br><br>
                              <strong>R. Treze de Maio, 830</strong><br>
                              Bela Vista, SP
                              <br><br>
                              <i>r$35</i> na porta / <i>r$25</i> antecipado pelo paypal <span class="label label-warning">(esgotado)</span> / <i>r$15</i> a partir das 6 hrs    da manha
                              <br><br>
                              <strong>traje:</strong> Cristão, Pecado Capital, Virtude (fantasiado fura fila - a critério da hostess)<br><br>
                              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=r.+13+de+maio,+830,+sao+paulo,+sp&amp;aq=&amp;sll=-23.682803,-46.595546&amp;sspn=0.814947,1.425476&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Treze+de+Maio,+830+-+Bela+Vista,+S%C3%A3o+Paulo,+01327-000,+Brazil&amp;z=14&amp;ll=-23.560499,-46.64623&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=r.+13+de+maio,+830,+sao+paulo,+sp&amp;aq=&amp;sll=-23.682803,-46.595546&amp;sspn=0.814947,1.425476&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Treze+de+Maio,+830+-+Bela+Vista,+S%C3%A3o+Paulo,+01327-000,+Brazil&amp;z=14&amp;ll=-23.560499,-46.64623" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                          </address>
                      </div>
                  </div>


              </div>
          </div>
          <div class="col-lg-3">

          </div>
      </div>
  </div>
</template>