<template name="MouseCursorer">
    {{#each mice}}
        <a href="{{profileLink}}" target="_blank">

            <div class="mousecursorer {{#if isme}}mouseisme{{/if}}"
                 style="left: {{getMouseLeft}}px; top: {{getMouseTop}}px;">
            <div class="position: relative">
                <img class="img-circle" src="{{profileImgSmall}}">

                {{#if getPecadoImg}}
                  <div class="pecadofloatimg" style="position: absolute; top: -25px; left: 25px; z-index: 9">
                    <img src="{{getPecadoImg}}" style="width:30px; height:30px;">
                  </div>
                {{/if}}

            </div>
            </div>
        </a>

    {{/each}}
</template>