<template name="quiz">

<div class="{{$.Meteor.Router.page}}">
    <div class="container churchcontainer">

    {{#if currentUser}}
        <div class="churchcontent">
            {{#if answeredAllQuestions}}
            <h1>{{getPecadoPrincipal}}</h1>
            {{#each users}}
               <p>
                user: {{this.profile.name}}<br>
                <img src="http://graph.facebook.com/{{this.services.facebook.id}}/picture?type=large"><br>
                pecado: {{this.pecado}}
               </p>

            {{/each}}
            {{else}}
            <div class="questionno">
                <div class="progress progress-striped active">
                    <div class="progress-bar text-center" style="width: {{quizProgress}}%;"></div>
                    <span>{{currentQuestionNo}} / {{numQuestions}} </span>
                </div>
            </div>
            <br><br>

            <div class="panel">


            {{#with currentQuestion}}
            <div class="panel-heading">
                <h2 class="panel-title">{{question}}</h2>
            </div>

                        <div class="list-group">
                        {{#each answers}}
                        <a href="#" class="list-group-item clickbutton animated fadeIn">
                            <h3 class="list-group-item-heading" style="width:100%">
                                {{#if this.img}}<img src="{{answerImg}}" class="img-rounded">{{/if}} {{this.answer}}
                            </h3>
                        </a>
                        {{/each}}
                        </div>

            {{/with}}
            </div>
            {{/if}}
        </div>


    {{else}}
    
      <div class="hero-unit text-center">
        <h1 style="background-color:white">{{loginButtons}}</h1>
      </div>

    {{/if}}
    </div>




</template>
