<template name="likewidget">
    <button type="button" class="likebutton btn btn-warning btn-responsive  ladda-button" data-style="expand-left" {{conditionalAttr "disabled" liked}}>
        <span class="glyphicon glyphicon-heart"></span> {{#if liked }} Liked {{else}} Like {{/if}} <span class="badge">{{likes.length}}</span>
    </button>
</template>

<template name="helperContent">
  {{> UI.contentBlock }}
</template>

<template name="contentcarousel">
  <div id="{{id}}" class="carousel slide" data-interval="6000"  style="width: 460px; height: 345px; margin-top: 4px">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        {{#each count_up_to}}
        <li data-target="#{{../id}}" data-slide-to="{{index}}" class="{{#if isActive}}active{{/if}}"></li>
        {{/each}}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        {{#each items_first_active}}
        <div class="{{#if isActive}}active{{/if}} item">
          {{> UI.contentBlock this}}
        </div>
        {{/each}}
      </div>
      <!-- Carousel nav -->
      <a class="left-flat carousel-control" href="#{{id}}" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right-flat carousel-control" href="#{{id}}" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</template>

<template name="wallpostform">
  <div class="wallpostform">
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-link"></span>
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-large submitpost ladda-button" data-style="slide-up" type="button"
            {{conditionalAttr "disabled" cantPost}}>
            {{#if cantPost}}
              {{nextPostDelay}}
            {{else}}
               Post
            {{/if}}
        </button>
      </span>
    </div>
    Don't be afraid. It's anonymous!
  </div>
</template>


<template name="eventmedia">
  <div class="thumbnail eventmediacontainer " data-scroll-reveal>
    <div class="caption">
      <em><a href="{{url}}" data-toggle="tooltip" data-placement="top" data-title="{{cropstring description 200 '...'}} ...">{{cropstring title 20 '...'}} </a>{{#if provider_name}}<small>{{provider_name}}</small>{{/if}}</em>
    </div>
    {{#if html}}
    {{{html}}}
    {{else}}
    <a href="{{url}}" data-toggle="tooltip" data-placement="top" data-title="{{cropstring description 200 '...'}} ...">
      <img src="{{thumbnail_url}}">
    </a>
    {{/if}}

  </div>
</template>